<style>
  input[type=text] {
    padding: 2%;
    width: 70%;
    position: sticky;
    float: left;
    margin-top: -9%;
    color: white;
    font-size: 20px;
    margin-left: 20%;
    resize: none;
    background-color: rgba(1,1,1,0.6);
}

input[type=text]:focus {
    background-color: rgba(1,1,1,1);
    color: white;
}
</style>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <nav class="nav navbar-dark">
      <a class="navbar-brand" href="/" style="position: absolute";>
        <img src="/images/logo.png" class="d-inline-block align-top logo" alt="" >
      </a>
    </nav>
      <img class="d-block w-100" src="/images/background1.jpg" alt="First slide">
      <form class="" action="/result/1">
      <input class="form-control Search" placeholder="Search..." name="Search" type="text">
    </form>
  </div>
</div>
  <hr>